@tailwind base;
@tailwind components;
@tailwind utilities;

.contatos{
    gap: 30px;
}

/* .h1{
  margin: 0px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 3.80rem;
  line-height: 1.2;
  color: rgb(79, 93, 117);
  text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 4px;
} */


.btn-LinkedIn{
    border-radius: 5px;
    background-color:rgb(27, 85, 85);
    margin: 50px;
    padding: 10px;
    color: white;
}

.btn-LinkedIn:hover{
    background-color:rgb(41, 155, 155);
}

.btn-email{
    border-radius: 5px;
    background-color:rgb(27, 85, 85);
    margin: 50px;
    color: white;
    padding: 10px;
}

.btn-email:hover{
    background-color:rgb(41, 155, 155);
}

/* .btn-LinkedIn{
    border-radius: 5px;
    background-color:rgb(27, 85, 85);
    margin: 50px;
    padding: 10px;
}

.btn-LinkedIn:hover{
    background-color:rgb(41, 155, 155);
} */


.container{
    margin: 50px;
    margin-left: 250px;
    align-items:start;
    
}

